

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/concrete-texture.png");
}
.navbar-brand {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    background-color: #4aaaa5;
}
.navbar {
    border-bottom: solid 3px #cccccc;
    background-color: #cccccc;

}
.container-heading {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    color: #4aaaa5;
}
#profile-pic {
    width: 200px;
    height: 200px;
}
#brand {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
}
.footer {
    color: white;
    height: 50px;
    background-color: #666666;
    border-top: solid 3px #4aaaa5
}
/* Contact Page */
.btn {
    color: white;
    background-color: #4aaaa5;
}
.btn:hover{
    background-color: rgb(7, 119, 76);
}
.btn:active {
    background-color: rgb(7, 119, 76);
}
/* Portfolio Page */
.apps {
    position: relative;
}
.apps:hover {
    opacity: .5;
}
.banner {
    position: absolute;
    bottom: 10%;
    height: 25%;
    width: 100%;
    background-color: #4aaaa5;
    color: white;
}