* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
    text-align: center;
}
body {
    background-image: url("../images/theme.jpg");
    background-size: cover;
}

.container {
    min-height: 100%;
}

.main {
    border: 30px solid transparent;
    padding: 15px;
    border-image-source: url("../images/border-small.png");
    border-image-slice: 20 22;
    border-image-repeat: round;
    padding-bottom: 20px;
    height: 800px;
    width: 1000px;
    margin: 30px auto;
    background-color: aqua;
}

#foot {
    position: relative;
    height: 60px;
    width: 100%;
    margin-top: -20px;
    clear: both;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
    padding: 20px 0;
}

h1 {
    text-align: center;
}

.button-container {
    justify-content: center;
}
.choices {
    margin: 7px;
    height: 80px;
    width: 450px;
    font-size: 15px;
    padding: 5px;
}


.image-div {
    display: flex;
    justify-content: center;
}
#picture {
    width: 700px;
    height: 500px;
    margin: 10px auto;
}